<p>Congrats!</p>
<p>You now have your own Blender ID.</p>

<p>Use this email address ({{ user.email }}) to login to any Blender ID enabled website (such as Blender Cloud, Blender BFCT, Blender Store, etc).</p>

{% if security.confirmable %}
<p>You can confirm your email through the link below:</p>
<p><a href="{{ confirmation_link }}">Confirm my account</a></p>
{% endif %}

<p>Check your dashboard at <a href="http://www.blender.org/id/">blender.org/id</a> for more information.</p>

<p>The Blender Web Team</p>
