{% extends 'layout.html' %}
{% block body %}
<div class="row about">
	<div class="col-md-6 about__info">
		<div class="box">

			<div class="about__info-what">
				<h2>What is the Blender ID?</h2>
				<p>
					The Blender ID is a unified login system that will give you access to <a href="http://blender.org/institute">Blender Institute</a> and <a href="http://blender.org/foundation">Blender Foundation</a> web platforms.
				</p>
				<p>
					With just one account you can set up a Blender Cloud subscription, manage your professional profile on the Blender Network, your <span title="Blender Foundation Certified Trainer">Certified Trainer</span> application, Blender Conference talks, and much more in the future.
				</p>
			</div>

			<div class="about__info-where">
				<h3>Where to use your Blender ID:</h3>
				<ul class="about__info-where-links">
					<li><a href="https://cloud.blender.org">Blender Cloud</a></li>
					<li><a href="https://store.blender.org">Blender Store</a></li>
					<li><a href="https://www.blender.org/conference/">Blender Conference</a></li>
					<li><a href="https://www.blendernetwork.org">Blender Network</a></li>
					<li><a href="https://www.blender.org/foundation/development-fund/">Blender Development Fund <small>(soon)</small></a></li>
					<li><a href="https://www.blender.org/certification/">Blender Foundation Certified Trainer Program</a></li>
				</ul>
			</div>
		</div> <!-- box -->
	</div>
	<div class="col-md-6 about__join">
		<div class="box">

			{% if current_user.is_authenticated() %}
				<div class="about__join-authenticated">
					<div class="vertical-align">
						<a href="{{url_for('homepage')}}">
							<img class="img-circle about__join-avatar" src="{{current_user.gravatar(192, False)}}" title="Gravatar Profile Picture"/>
						</a>

						<h2>Hi {{ current_user.first_name }}!</h2>
						<p>
							Welcome to your Blender ID
							<br/>Check your <a href="{{url_for('homepage')}}">dashboard</a> for more info
						</p>
					</div>
				</div>
			{% endif %}

			{% if not current_user.is_authenticated() %}
				<div class="about__join-anonymous">
					<div class="vertical-align">
						<ul class="about__join-icons">
							<li><i class="bf-cloud"></i></li>
							<li><i class="bf-blender"></i></li>
							<li><i class="bf-network"></i></li>
						</ul>
						<h3>
							One account, everything Blender
						</h3>
						<h4>
							<a class="btn btn-default btn-squishy btn-info" href="{{url_for_security('register')}}">
								Get your Blender ID
							</a>
						</h4>
					</div>
				</div>
			{% endif %}

		</div> <!-- box -->
	</div> <!-- col-md -->

</div> <!-- row -->

{% endblock %}
