{% extends 'layout.html' %}
{% block body %}

<div class="col-md-6 col-md-push-3">
	<div class="box authorize">
		
		<div class="authorize__pictogram">
			<img class="authorize__app-image" src="http://placehold.it/200/7596d9/fff" alt="Appname">
			<img class="authorize__person-image" src="http://placehold.it/200/afd876/fff" alt="Username">
			<div class="authorize__pictogram__arrow"></div>
		</div>
		
		<h2 class="authorize__title">Authorize Application</h2>
		<p class="authorize__blurb"><a href="#">Blender Network</a> would like permission to access your Blender ID</p>
		<p class="authorize__info">The Blender Network is Blender Foundation's partnership program, an online directory and social network for Blender professionals.</p>

		<div class="authorize__review">
			<h3>Review permissions</h3>
			<ul>
				<li>
					<strong>Personal Details</strong><br>
					Name, Last Name, Email
				</li>
				<li>
					<strong>Roles</strong><br>
					BFCT, Coder, etc.
				</li>
			</ul>
		</div>

		
		<div class="btn-chooser btn-chooser--center">
			<button class="btn btn-success"><i class="fa fa-check"></i> Authorize</button>
			<button class="btn">No, thanks</button>
		</div>
		
		<a class="box__learn-more" href="#">Learn more about OAuth</a>
	</div>
</div>

{% endblock %}