{% extends 'layout.html' %}

{% block page_title %}
  {% if current_user.first_name %}
    {{current_user.first_name}}'s
  {% else %}
    Your
  {% endif %}
  Profile
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <img class="img-circle pull-right margin-right-2 margin-top-2 margin-bottom-2" src="{{current_user.gravatar(120, False)}}" title="Gravatar Profile Picture"/>
      <h1>
      {% if current_user.first_name %}
        {{ current_user.first_name }}
      {% endif %}
      {% if current_user.last_name %}
        {{ current_user.last_name }}
      {% endif %}
      </h1>
      {% if not current_user.first_name
        or not current_user.last_name %}
        <p><div class="background-info"><span class="margin-left-2">Your name or last name is missing, <a href="{{url_for('profile')}}">add it here</a></span></div></p>
      {% endif %}
      <p class="margin-top-1">
       {{ current_user.email }}
      </p>
      <p>
        <a class="btn btn-default" href="{{url_for('profile')}}">
          <i class="fa fa-edit"></i> Edit Profile
        </a>
      </p>
    </div> <!-- box -->

    {% if current_user.has_role('bfct_trainer') %}
    <div class="box">
      <i class="fa fa-graduation-cap backicon"></i>
      <h2>Blender Foundation Certified Trainer</h2>
      <p>
        You're an official <span class="info">Blender Foundation Certified Trainer</span>
        <br/>More details about your <a href="http://www.blender.org/certification">certification</a>
        {% if current_user.has_role('bfct_board') %}
          <hr class="width-full"/>
          <p class="info">
          <i class="fa fa-graduation-cap"></i> BFCT Board Member{% if current_user.has_role('bfct_manager') %} & Manager{% endif %}
          </p>
        {% endif %}
      </p>
    </div>
    {% endif %}

  </div> <!-- col-md-6 -->
  <div class="col-md-6">
    <h2 class="margin-top-0">Your Subscriptions</h2>
    <div class="box">
      <i class="bf-cloud backicon"></i>
      <p>
        <h3>Blender Cloud</h3>
      </p>  
      <p>
        {% if current_user.has_role('cloud_single_member')
          or current_user.has_role('cloud_team_owner') %}
          <i class="fa fa-check success"></i> You have an active <a href="http://cloud.blender.org/settings/subscription">subscription</a>
          {% if current_user.get_setting('cloud_communications') %}
            <br/>
            <small><i class="fa fa-envelope-o"></i> Email notifications are <strong>on</strong> (<a href="http://cloud.blender.org/settings/profile">change</a>)</small>
          {% endif %}
        {% else %}
          <i class="fa fa-times"></i> You don't have an active <a href="http://cloud.blender.org">subscription</a>
        {% endif %}
      </p>
    </div>
    <div class="box">
      <i class="bf-network backicon"></i>
      <p>
        <h3>Blender Network</h3>
      </p>
      <p>
        Check your profile <a href="https://www.blendernetwork.org/profile/edit">settings</a>
      </p>
    </div>
    <!--
    <div class="box padding-top-1">
      <h3>Blender Conference</h3>
      <p></p>
    </div> <!-- box -->
  </div>
</div>

{% endblock %}
