class Config(object):

    # Configured for GMAIL
    MAIL_SERVER = 'smtp.gmail.com'
    MAIL_PORT = 465
    MAIL_USE_SSL = True
    MAIL_USERNAME = ''
    MAIL_PASSWORD = ''
    DEFAULT_MAIL_SENDER = ''

    # Flask-Security setup
    SECURITY_LOGIN_WITHOUT_CONFIRMATION = True
    SECURITY_REGISTERABLE = True
    SECURITY_RECOVERABLE = True
    SECURITY_CHANGEABLE = True
    SECUIRTY_POST_LOGIN = '/'
    SECURITY_PASSWORD_HASH = 'bcrypt'
    SECURITY_PASSWORD_SALT = 'YOURSALT'
    SECURITY_EMAIL_SENDER = ''
    SECURITY_POST_REGISTER_VIEW = '/welcome'
    SECURITY_MSG_EMAIL_ALREADY_ASSOCIATED = ('This address already exists', 'error')
    GOOGLE_ANALYTICS_TRACKING_ID = ''
    GOOGLE_ANALYTICS_DOMAIN = ''

    BLENDER_ID_TOKEN_EXPIRY = {'days': 365}  # arguments to datetime.timedelta(**BLENDER_ID_TOKEN_EXPIRY)
    BLENDER_ID_LOGIN_CLIENT_ID = 'XXX'
    BLENDER_ID_LOGIN_CLIENT_SECRET = 'YYY'
    BLENDER_ID_LOGIN_CLIENT_REDIRECT_URIS = ''  # whitespace-separated list of valid OAuth redirect URIs

class Development(Config):
    SECRET_KEY=''
    DEBUG=True
    SQLALCHEMY_DATABASE_URI='mysql://root:root@localhost/blender-id'
    SECURITY_REGISTERABLE=True
    SECURITY_LOGIN_USER_TEMPLATE = 'security/login_user.html'
    ASSETS_DEBUG = False
    CACHE_TYPE = ''
    CACHE_DEFAULT_TIMEOUT = 60
    CACHE_DIR = ''
