class Config(object):

    # Configured for GMAIL
    MAIL_SERVER = 'smtp.gmail.com'
    MAIL_PORT = 465
    MAIL_USE_SSL = True
    MAIL_USERNAME = ''
    MAIL_PASSWORD = ''
    DEFAULT_MAIL_SENDER = ''

    # Flask-Security setup
    SECURITY_LOGIN_WITHOUT_CONFIRMATION = True
    SECURITY_REGISTERABLE = True
    SECURITY_RECOVERABLE = True
    SECURITY_CHANGEABLE = True
    SECUIRTY_POST_LOGIN = '/'
    SECURITY_PASSWORD_HASH = 'bcrypt'
    SECURITY_PASSWORD_SALT = ''  # only used for HMAC password hashing.
    SECURITY_EMAIL_SENDER = ''
    SECURITY_POST_REGISTER_VIEW = '/welcome'
    SECURITY_MSG_EMAIL_ALREADY_ASSOCIATED = ('This address already exists', 'error')
    GOOGLE_ANALYTICS_TRACKING_ID = ''
    GOOGLE_ANALYTICS_DOMAIN = ''

    # Token expiry for the username/password (aka special snowflake) authentication system.
    OAUTH2_PROVIDER_TOKEN_EXPIRES_IN = 3600 * 24 * 365  # one year, in seconds.
    BLENDER_ID_ADDON_CLIENT_ID = 'XXX'  # Client ID for the special snowflake client.

    DEFAULT_CLIENTS = [
        {
            'name': 'Blender ID addon',
            'id': BLENDER_ID_ADDON_CLIENT_ID,
            'secret': 'YYY',
            'redirect_uris': '',  # no redirect URIs, it uses username/password special snowflake auth.
        },
        {
            'name': 'Another client',
            'id': 'ZZZ',
            'secret': 'QQQ',
            'redirect_uris': 'http://someserver/oauth/blender-id/authorized',
        },
    ]

class Development(Config):
    SECRET_KEY=''
    DEBUG=True
    SQLALCHEMY_DATABASE_URI='mysql://root:root@localhost/blender-id'
    SECURITY_REGISTERABLE=True
    SECURITY_LOGIN_USER_TEMPLATE = 'security/login_user.html'
    ASSETS_DEBUG = False
    CACHE_TYPE = ''
    CACHE_DEFAULT_TIMEOUT = 60
    CACHE_DIR = ''
