{% extends 'layout.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_login_field_with_errors, render_register_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block page_title %}
  Welcome!
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-push-2">

      <div class="flip relative">

        <div class="card">
          <div class="face front"> 
            <!-- Front face stuff-->
            <div class="box">
              <i class="bf-blender backicon"></i>

              <div class="col-md-6">

                  <form role="login" action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="offset-top-5">
                    {{ login_user_form.hidden_tag() }}
                    <fieldset>
                     <!-- Email input-->
                      <div class="input-group input-group-lg width-full">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                          {{ render_login_field_with_errors(login_user_form.email, class='form-control', placeholder="E-mail") }}
                          <label class="control-label">Email</label>
                      </div>

                     <div class="clearfix offset-vertical-2"></div>

                     <!-- Password input-->
                      <div class="input-group input-group-lg width-full">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                          {{ render_login_field_with_errors(login_user_form.password, class='form-control', placeholder="Password") }}
                          <label class="control-label">Password</label>
                      </div>

                     <!-- Multiple Checkboxes (inline) -->
                     <div class="login-extra offset-vertical-2">
                       <div class="control-group">
                         <label class="control-label remember pull-left" for="remember">
                           {{ render_login_field_with_errors(login_user_form.remember) }}
                           Remember me
                         </label>
                         <a class="pull-right small" href="{{url_for_security('forgot_password')}}">forgot password?</a>
                       </div>
                     <div class="clearfix"></div>
                     </div>

                      {{ render_field(login_user_form.next) }}
                     <div class="clearfix"></div>
              </div> <!-- col-md-6 -->

              <div class="col-md-6">
                <div class="width-full content-align-center offset-top-5 offset-bottom-5">
                  <h2>
                    One Account<br/>
                    Everything Blender
                  </h2>

                   <!-- Button -->
                  <div class="control-group">
                    <label class="control-label" for="signin"></label>
                    <div class="controls content-align-center">
                      {{ render_field(login_user_form.submit, value="Sign In", class='btn btn-default btn-lg btn-squishy width-75') }}
                    </div>
                  </div>

                  </fieldset>
                </form>
                  <hr/>
                  <div class="flip_login link">Don't have a Blender ID yet?</div>
                </div>
              </div> <!-- col-md-6 -->
            </div>
          </div> <!-- // Front face stuff -->

          <div class="face back"> 
            <!-- Back face stuff-->
            <div class="box">
              <i class="bf-blender backicon"></i>

                <div class="col-md-6">

                  <form role="login" action="{{ url_for_security('register') }}" method="POST" name="login_user_form">
                    {{ login_user_form.hidden_tag() }}
                    <fieldset>
                     <!-- Email input-->
                      <div class="input-group input-group-lg width-full">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                          <input class="form-control" id="email" name="email" type="email" value="" placeholder="E-mail">
                          <label class="control-label">Email</label>
                      </div>

                     <div class="clearfix offset-vertical-2"></div>

                     <!-- Password input-->
                      <div class="input-group input-group-lg width-full">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                          <input class="form-control" id="password" name="password" type="password" value="" placeholder="Password" onkeyup="password_match();">
                          <label class="control-label">Password</label>
                      </div>

                     <div class="clearfix offset-vertical-2"></div>

                     <!-- Retype Password input-->
                      <div class="input-group input-group-lg width-full">
                        <span class="input-group-addon"><div id="password_match"></div></span>
                          <input class="form-control" id="password_confirm" name="password_confirm" type="password" value="" placeholder="Retype Password" onkeyup="password_match();">
                          <label class="control-label">Re-type Password</label>
                      </div>

                      {{ render_field(login_user_form.next) }}

                </div>

                <div class="col-md-6">
                  <div class="width-full content-align-center offset-top-5 offset-bottom-5">
                    <h2>
                      Get your own<br/>
                      Blender ID
                    </h2>

                     <!-- Button -->
                     <div class="control-group">
                       <label class="control-label" for="signin"></label>
                       <div class="controls">
                         {{ render_field(login_user_form.submit, value="Sign Up", class='btn btn-default btn-lg btn-squishy width-75') }}
                       </div>
                     </div>

                    </fieldset>
                  </form>
                    <hr/>
                    <div class="flip_login link"><i class="fa fa-angle-double-left"></i> Back to Login</div>
                  </div>
                </div> <!-- col-md-6 -->
              </div>
            </div>
          </div> <!-- // Back face stuff -->
        </div> <!-- Card -->

      </div> <!-- Flip toggle -->
    </div>
  </div>
</div>

{% endblock %}
{% block footer_scripts %}
  <script src="{{ url_for('static', filename='assets_shared/js/interactive.js') }}"></script>
<script>
function password_match() {
    var pwd = $("#password").val();
    var confirm_pwd = $("#password_confirm").val();

    if (pwd != confirm_pwd)
        $("#password_match").html("<i class='fa fa-times'></i>");
    else
        $("#password_match").html("<i class='fa fa-check success'></i>");
}

$(document).ready(function () {

    $('.flip_login').each(function(){
      $(this).click(function(){
        $(document).find('.card').toggleClass('flipped').next($(this).fadeOut(150)).next($(this).fadeIn('slow'));
      });
    });

   //$("#password_confirm").onkeypress(password_match);
});
</script>
{% endblock %}