{% extends 'security/layout.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_login_field_with_errors, render_field %}

{% block head_elements %}

{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row login-container">
      <div class="col-md-6">
        <h2>Welcome to the Blender Cloud</h2>
        <p>
      This is the service where Blender Foundation's free and open content will be funded, created and shared.
      Everything you'll find here is either Creative Commons or GNU GPL compliant software.
      <br><br>
      <a href = "http://wiki.blender.org/index.php/Org:Institute/BlenderCloud">Read more</a>
    </p>
      </div>
      <div class="col-md-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#login">Log In</a></li>
          <li><a href="{{url_for_security('register')}}">Register</a></li>
          <li><a href="{{url_for_security('forgot_password')}}">Recover</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="login">
            <form class="form-horizontal" role="login" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
              {{ login_user_form.hidden_tag() }}
               <fieldset>
               <!-- Sign In Form -->
               <!-- Text input-->
               <div class="control-group">
                 <label class="control-label" for="userid">E-mail:</label>
                 <div class="controls">
                    {{ render_login_field_with_errors(login_user_form.email, class='form-control input-medium' ) }}
                 </div>
               </div>

               <!-- Password input-->
               <div class="control-group">
                 <label class="control-label" for="passwordinput">Password:</label>
                 <div class="controls">
                    {{ render_login_field_with_errors(login_user_form.password, class='form-control input-medium') }}
                 </div>
               </div>

               <!-- Multiple Checkboxes (inline) -->
               <div class="control-group">
                 <label class="control-label" for="rememberme"></label>
                 <div class="controls">
                   <label class="checkbox inline" for="rememberme-0">
                      {{ render_login_field_with_errors(login_user_form.remember) }}
                     Remember me
                   </label>
                 </div>
               </div>
                {{ render_field(login_user_form.next) }}
               <!-- Button -->
               <div class="control-group">
                 <label class="control-label" for="signin"></label>
                 <div class="controls">
                   {{ render_field(login_user_form.submit, class='btn btn-default') }}
                 </div>
               </div>
               </fieldset>
               </form>
          </div>
          <div class="tab-pane" id="register">..s.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}